


/* TAG_BASED */
h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 100px;
	font-weight: 900;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

p {
    font-family: 'Merriweather', serif;
	font-size: 20px;
}

body {
	position: relative;
}

td h3 {
    font-size: 25px;
}
/* CLASS-BASED */
.navbar-custom {
	background: transparent;
}
.navbar-custom2 {
    background-color: #1A1A2E;
}
.about-intro-container {
    text-align: center;
}
.about-intro {
    padding-top: 20%;
	color: #16213E;
    font-weight: bold;
}
.edu-container {
    text-align: center;
}
.edu-head {
    padding-top: 15%;
	color: #16213E;
}
.table{
    margin-top: 30px;
    color: #0F3460;
}
.proj-title {
    padding-top: 50px;
    color: #343A40;
    font-family: 'Montserrat', sans-serif;
}

.proj-heading{
    color: #16213E;
}

.proj-desc {
    color: #0F3460;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.proj-container{
    padding-top: 10%;
    line-height: 1.5;
    /* text-align: left; */
}
.hobby-container {
    padding-top: 20%;
}
.hob-head {
    color: white;
}

.hob-point {
    color: #DBCBBD;
}

.contact-container{
    text-align: center;
}

.contact-heading {
    padding-top: 20%;
    color: black;
}

.contact-subheading {
    margin-top: 30px;
    color: #3C8DAD;
}

.contact-para {
    margin-top: 15px;
    color: black;
}

.button-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer {
}

/* ID_BASED */
#home {
    text-align: center;
}

#subtitle {
	color: #CDF0EA;
}

#title {
	padding-top: 15%;
    color: white;
    font-size: 120px;
}
#about{

}

#contact {

}